<launch>
  <param name="model" value="burger"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rl_navigation)/worlds/train_world3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <param name="robot_description" command="$(find xacro)/xacro $(find rl_navigation)/urdf/turtlebot3_burger.urdf.xacro" />

   <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger 
                                -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <node name="pub_odom_tf" pkg="rl_navigation" type="pub_odom_tf_node" />

  <include file="$(find rl_navigation)/launch/gmapping.launch"/>
</launch>
