<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <!-- gmapping -->
  <include file="$(find rl_navigation)/launch/unknown_gmapping.launch" />

  <!-- move_base -->
  <include file="$(find rl_navigation)/launch/unknown_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <!--group if="$(arg open_rviz)"--> 
    <!--node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find rl_navigation)/rviz/turtlebot3_navigation.rviz"/-->
  <!--/group-->
</launch>
